@model NIA_CRM.Models.Contact

<div>
    <div class="d-flex justify-content-between align-items-center px-2 mb-3">
        <h3>Contact Preview</h3>
        <input type="button" name="btnClose" value="X" id="btnClose" class="btn btn-danger" />
    </div>

    <div class="d-flex">
        @*@if (Model.ContactThumbnail?.Content != null)
        {
            string imageBase64 = Convert.ToBase64String(Model.ContactThumbnail.Content);
            string imageSrc = string.Format("data:" + Model.ContactThumbnail.MimeType + ";base64,{0}", imageBase64);
            <img src="@imageSrc" alt="Profile Picture of @Model?.Summary"
                 title="Profile Picture of @Model?.Summary" class="img-fluid rounded" />
        }
        else
        {
            <img src="images/blankProfile.jpg" alt="blank profile picture"
                 title="blank profile picture" class="img-fluid rounded" style="margin-right: 5px !important;" />
        }
        *@
        
    </div>



    <div class="card card-body bg-light text-black">
        <div>
            <p><strong>Contact Name:</strong> <br />@Model.Summary</p>
            <p><strong>Contact Email:</strong> <br /> <a href="mailto:@Model.Email">@Model.Email</a></p>
            <p><strong>Phone:</strong> <br /> <a href="tel:@Model.Phone">@Model.Phone</a></p>
            <p><a href="@Model.LinkedInUrl" target="_blank">View LinkedIn</a></p>
        </div>
        <h5>Industry:</h5>
        @{
            var industry = Model.MemberContacts.FirstOrDefault()?.Member; // Single industry object

            if (industry != null)
            {
                string industryName = industry.MemberName; // Industry Name
                string industrySize = industry.MemberSize.ToString(); // Industry Size
                string? industryWebsite = industry.WebsiteUrl; // Website URL

               <p><strong>Industry Name:</strong> @industryName</p>
              <p><strong>Industry Size:</strong> @industrySize</p>
               <p><strong>Website:</strong></p>
                @if (!string.IsNullOrEmpty(industryWebsite))
                {
                    <a href="@industryWebsite" target="_blank">@industryWebsite</a>
                }
                else
                {
                    <span>N/A</span>
                }
            }
            else
            {
                <p>No industry data available.</p>
            }
        }




        <div id="responseMessage"></div>
        @if (User.IsInRole("Admin"))
        {
            <form id="saveNoteForm" asp-action="SaveMemberNote" asp-controller="Member" method="post">
                <input type="hidden" id="ContactId" name="id" value="@Model.Id" />
                <label for="Note">Contact Note</label>
                <textarea id="Note" name="note" placeholder="Enter your note..." class="form-control">@Model.ContactNote</textarea>
                <input type="button" id="saveNoteBtn" value="Save Note" class="btn btn-primary mt-2" />
            </form>
        }
    </div>
    <div class="sticky-buttons">
        <div class="sticky-buttons-container">
            @if (User.IsInRole("Admin"))
            {
                <button type="button" class="btn btn-dark"
                        data-bs-toggle="modal"
                        data-bs-target="#addCancellationModal"
                        data-id="@Model.Id">
                    Archive Contact
                </button>
                <a class="btn btn-dark" asp-action="Edit" asp-controller="Contact" asp-route-id="@Model.Id">Edit</a>
            }
            <a class="btn btn-primary" asp-controller="Member" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        </div>
    </div>
</div>
